# NumAlg - exercise 12

In [8]:
import numpy as np
import pandas as pd

## 12.1

Taylor series are defined as
$$
\sum^{\infty}_{n=0} \frac{f^{(n)(x_0)}}{n!} (x - x_0)^n
$$
From some initial conditions, $x_0$ we can approximate solutions to differential equations!

In the exercise we are given.
$$
\frac{dx}{dt}(t) = t + x(t), x(0) = 1,
$$
and it then folllows
$$
\frac{d^2x}{dt^2}(t) = \frac{d}{dt}(t + x(t)) = 1 + t + x(t),
$$
hence generally $\forall n > 1 $,
$$
\frac{d^nx}{dt^n}(t) = \frac{d^2x}{dt^2}(t) = 1 + t + x(t)
$$
Computing by hand, we have the taylor expansion as
$$
x(t) = 1 + t + 2\sum^\infty_{n = 2}\frac{t^k}{n!}.
$$
Recognizing this as very close to the exponential function, we can rewrite this as
$1 + t + 2\sum^\infty_{n = 2}\frac{t^k}{n!} = 2e^t - 1 - t$.

Now to the real exercise :))
We can write the numerical approximation 
$$
x(t_0 + h) \approx \sum^\infty_{n = 0} \frac{h^n}{n!}x^{(n)}(t_0)
$$
For $t_0=0, h = \frac{1}{2}$ and knowing $x(0) = 1$, we can write the approximation of $4$'th order as
$$
\begin{align}
x_4(\frac{1}{2}) &= 1 + \frac{1}{2}(0 + 1) + \frac{1}{8}(1 + 0 + 1) + \frac{1}{48}(1 + 0 + 1) + \frac{1}{384}(1 + 0 + 1)
\\&\approx
1.796875
\end{align}
$$
Evaluating for $N$ up to $4$ we get

In [23]:
approx = np.array([1,0.5,2/8,2/48,2/384])
true = np.exp(0.5)*2 - 0.5 - 1
df = pd.DataFrame(
    {
    "N": np.arange(1,5),
    "Approximation": np.array([np.sum(approx[:n]) for n in range(1,5)]),
    "Absolute error": np.abs(true - np.array([np.sum(approx[:n]) for n in range(1,5)])),
    "Relative error": np.abs(true - np.array([np.sum(approx[:n]) for n in range(1,5)])) / np.abs(true)
    }
    )
df

   N  Approximation  Absolute error  Relative error
0  1       1.000000        0.797443        0.443654
1  2       1.500000        0.297443        0.165481
2  3       1.750000        0.047443        0.026394
3  4       1.791667        0.005776        0.003213

In [12]:
np.arange(3)

array([0, 1, 2])